.home-page {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-image: url(../images/site/sea.jpg);
}

.welcome-text {
  width: 80%;
  font-size: 40px;
  margin-left: 20px;
  padding-left: 10px;
  background-color: #6788FF;
  box-shadow: 6px 6px 8px rgba(255, 255, 255, 0.2);
}

.tagline {
  width: 70%;
  text-align: right;
  font-size: 30px;
  margin-left: 28%;
  padding-right: 10px;
  background-color: #0667C0;
  white-space: nowrap;
  box-shadow: -6px 6px 8px rgba(255, 255, 255, 0.2);
}

.bigad {
  display: flex;
  margin-left: 50px;
  height: 294px;
  width:90%;
  background-image: url('../images/site/books.png');

}

.doublebox {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  row-gap: 75px;
}

.textbox1 {
  font-size: 28px;
  background-color: rgba(3, 83, 10, 0.6);
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 10px;
  text-align: right;
  border-radius: 2px 2px 2px 2px;
}

.textbox2 {
  font-size: 28px;
  background-color: rgba(3, 83, 10, 0.6);
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 10px;
  text-align: right;
  border-radius: 2px 2px 2px 2px;

}

.buynow {
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 12, 88, 0.9);
  width: 400px;
  height: 200px;
  border-radius: 50px;
  margin-left: 30px;
  align-self: center;
  text-align: center;
  justify-content: center;
  
}

.buynow-button {
  margin-top: 10px;
  background-color: #DA0000;
  border: 1px solid #000000;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 350px;
  transition: background-color 0.3s;
}

.buynow-button:hover {
  background-color: #850000;
}
.buynow-button a{
  display:block;
}
.category-images{
  margin: 5px;
}
.newarrivalscontainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  width: 90%;
}

.newarrivalsheader {
  background-color: #0A1360;
  padding-left: 10px;
}

.newarrivals {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  padding-left: 15px;
  background-color: rgba(28, 158, 38, 0.5);

  height: 330px
}


.public-domain-container {
  position: relative;
  display: inline-block;
}

.bookitem {
  margin-top: 6px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background-color: #abcaec;
  height: 310px;
  color: black;
  gap: 5px;
}
.bookitem:hover {
  background-color: #8fb9e6;
}
.bookcover {
  display: block;
  height: 200px;
  object-fit: contain;
  border: 1px solid black;
}

.addcart-button {
  background-color: #DA0000;
  color: white;
}

.addcart-button:hover {
  background-color: #850000;
}

.public-domain-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(0, 21, 114);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
  color: rgb(0, 153, 255);
  font-size: 16px;
  transition: background-color 0.3s;
  transition: color 0.4s;
}


.public-domain-button:hover {
  background-color: rgb(141, 207, 252);
  color: rgb(0, 21, 114);
}

.header-dropdown {
  position: relative;
}
.categories-button {
  background-color: #90B1F1;
  color: black;
  border: none;
  padding: 20px;
  font-size: 20px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.categories-button i {
  margin-left: 5px;
}
.categories-button:hover {
  background-color: #0056b3; 
  box-shadow: 0 6px 8px rgba(0,0,0,0.2); 
}
.header-dropdown ul {
  background-color: white;
  color: black;
  display: none;
  font-size: 20px;
}

.header-dropdown li {
  padding: .4em .7em;
}

.header-dropdown a {
  color: black;
  display:block;
  text-decoration: none;
}

.header-dropdown li:hover {
  background: lightgray;
}

.header-dropdown:hover ul {
  display: block;
  position: absolute;
  min-width: 8em;
  z-index: 1;
  cursor: pointer;
}
header {
  background: #071841;
  display: flex;
  align-items: center;
  padding: .75em;
  gap: 1em;
  max-height: 80px;
}

.header-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.text-logo {
  font-family: var(--title-font-family);
  font-size: 60px;
  color: #A0DBFD;
  text-decoration: none;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.text-logo:visited,
.text-logo:hover,
.text-logo:active {
  color: #A0DBFD;
}

.search-bar-container form {
  display: flex;
  padding: 20px;
  margin: 0;
}

.search-bar {
  color: black;
  overflow: scroll;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  box-sizing: border-box;
}

.search-button {
  padding: 10px;
  border: none;
  background-color: #878787;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login-button {
  padding: 20px;
  border: none;
  background-color: #90B1F1;
  color: black;
  font-size: 20px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.cart-button {
  background-color: #7D89F5;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.cart-button i {
  padding-right: 4px;
  font-size: 30px;
  color: white;
}

.search-button .fas {
  font-size: 16px;
  color: black;
}

.header-dropdown-and-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-container {
  position: relative;

}

.notification-bubble {
  position: absolute;
  top: 4px;
  right: 1px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--title-font-family);
}

@media (max-width: 600px) {
  /* @media means on mobile */
  header {
    flex-direction: column;
  }
}.footer-container {
  background: #5c78bd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

footer {
  background: #5c78bd;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 1em;
}

.links,
.social-media-icons {
  display: flex;
  margin-left: .5em;
  margin-right: .5em;


}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
  font-size: 40px;
}

.social-icons i:hover {
  color: #007bff;
}

.icons {
  display: flex;
  text-align: center;
  text-justify: center;
  align-items: center;
  justify-items: center;
  gap: 2px;
  font-size: 40px;
}

.icon-button {
  background-color: #A1EAEE;
  border: 1px solid #000000;
  color: black;
  padding: 40px, 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}

.icon-button:hover {
  background-color: #32B5BD;
}

.rounded-button {
  background-color: #A1EAEE;
  border: 1px solid #000000;
  color: black;
  padding: .4em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.rounded-button:hover {
  background-color: #32B5BD;
}
